body{
font-family: 'Arvo', serif;
background-color: #E3F4F4;
}
h3{
    font-family: 'Bree Serif', serif;
    padding-top: 10%;
    font-size: 3rem;
}

h2{
    font-family: 'Bree Serif', serif;
    font-weight: 700;
}

h5{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    
}
#Logo{
    color:#E64848;
}
#Logo:hover{
    color: #000000;
}
.categories-heading{
     color: #E64848;
}
#first-section {
    padding: 7% 20%;
}
.navbar-brand{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
}
.box1{
    margin: 10px 40px 10px 40px;
    width: 150px;
    height:150px;
    border-radius: 5px;
    box-shadow:  -1px 0px 8px #424242; 
    background-color: #FBE8E7;
    text-align: center;
    /* #b3cff0 */
}
.box1 p{
    font-size: small;
  
}
.logo{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


.food-cards {
      background-color: #ADD2C9; 
      width: 60%;
      max-width: 60%;
      height: 70px;  
       padding:5px;
       margin: 20px 0 20px 0;
      overflow: hidden;
      border-radius: 10px;  
      box-shadow:-1px 0px 8px #413543;
    }
      @media (max-width: 768px) {
    .food-cards {
        width: 100%;
        max-width: 100%;
    }
}

.food-cards img{
    width: 8%; 
    border-radius:10px ;
    border: black solid;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
     @media (max-width: 768px) {
    .food-cards img {
        width: 15%;
        max-width: 15%;
    }
}
.food-cards p {
    color: Black;
    font-size: 20px; /* Adjust the font size as needed */
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    margin: -40px 50px 0 0; /*  Increase the negative margin-top to move the text higher */
}
@media (max-width: 768px) {
    .food-cards p {
        font-size: 20px; /* Adjust font size for smaller screens */
        margin: -20px 30px 0 0; /* Adjust margin as needed */
    }
}
#food-section {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}
#orderBtn{
    padding: 5px;
 
}
.end-section{
  padding: 3% 5%;  
}
.end-section i{
  padding:0 5px 0 5px; 
}
.end-section i:hover{
    color: #E64848;
    
}
.end-section button{
    color: #E3F4F4;
    background-color: #E64848;
    border-color: #E64848;
    border-width: 2px;
    padding: 5px;
    border-left: none;
     margin-left: -3px;
     border-top-right-radius:10px; 
     border-bottom-right-radius:10px 
}

.join-email {
    border-right: none;
     padding: 6px;
     font-size: 15px;
     border-width: 1px;
     border-color: #E64848;
     background-color: #f3f3f3;
     color: #000000;
     border-style: solid;
     /* box-shadow: -1px 0px 8px #424242 ; */

}
 .join-email:focus {
     outline:none;
}
.made{
    text-align: center;
     font-size:small
}
.made:hover{
    color: #E64848;
}
#sides{
    height: 60px;
    width: 60px;
}